@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer components {

  a{
    @apply transition-colors hover:text-pointed hover:fill-pointed
  }
  
  .paragraph{
    @apply text-paragraph font-light leading-paragraph;
  }
  
  .markdown-content{
    @apply flex flex-col;
  }
  
  .markdown-content p, .markdown-content li {
    @apply paragraph mt-0 mb-4;
  }
  
  .markdown-content h3{
    @apply text-xl font-semibold mb-1 mt-6;
  }
  
  .markdown-content .badge {
    @apply paragraph rounded-lg text-gray-800 italic px-3 py-1;
  }


  .markdown-content .badge.announcement {
    @apply bg-[#ffecb2];
  }

  .markdown-content .badge.important {
    @apply bg-[#f4678a] text-white;
  }
  
  .main-list{
    @apply text-[10pt] flex flex-col gap-2
  }
  
  .main-list > .main-list-element {
    @apply flex items-baseline;
  }
  
}
