@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer components {

  a{
    @apply transition-colors hover:text-pointed hover:fill-pointed
  }
  
  .paragraph{
    @apply text-paragraph font-light leading-paragraph;
  }
  
  .markdown-content{
    @apply flex flex-col;
  }
  
  .markdown-content p, .markdown-content li {
    @apply paragraph mt-0 mb-4;
  }

  .markdown-content .naver {
    @apply text-naver font-semibold transition-opacity hover:opacity-70;
  }
  
  .markdown-content h3{
    @apply text-xl font-semibold mb-1 mt-6;
  }
  
  .markdown-content .badge {
    @apply paragraph rounded-lg text-gray-800 italic px-3 py-1;
  }


  .markdown-content .badge.announcement {
    @apply bg-[#ffecb2];
  }

  .markdown-content .badge.important {
    @apply bg-[#f4678a] text-white;
  }
  
  .main-list{
    @apply text-[10pt] flex flex-col gap-2
  }
  
  .main-list > .main-list-element {
    @apply flex items-baseline;
  }

  .pagination-elm {
    transition: all 0.5s;
    @apply block relative w-14 h-2 rounded-full bg-[#757575] mx-0.5 overflow-hidden cursor-pointer outline outline-1 outline-transparent hover:outline-[#c0c0c0] hover:bg-[#c0c0c0];
  }

  .pagination-elm.active{
    @apply w-28 bg-[#a0a0a0];
  }

  .pagination-elm.active .bar{
    @apply block h-full w-full min-w-2 rounded-full bg-ink-light pointer-events-none;
  } 

  .anchor-dummy {
    @apply absolute w-32 block h-32 sm:h-28 top--32 sm:top--32 pointer-events-none;
  }
}


svg.paper-diagram {

  g#previous-research, g#recent-research {
    opacity: 0;
    animation: alternateVisibility 16s infinite;
  }

  g#previous-research {
    animation-delay: 2s;
  }

  g#recent-research {
    animation-delay: 6s;
  }
}

@keyframes alternateVisibility {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  37.5% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  62.5% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  87.5% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
