@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

a{
  @apply transition-colors hover:text-pointed hover:fill-pointed
}

.main-list{
  @apply text-[10pt] flex flex-col gap-2
}

.main-list > .main-list-element {
  @apply flex items-baseline;
}